@model MWS_SocialNetwork.ViewModels.MyContactsViewModel

@section Styles {
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


}


<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        My Contacts
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">

        <!-- /.col -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#AllContacts" data-toggle="tab">All Contacts (@Model.ContatsCount)</a></li>
                    @if (Model.ContactsOfRelationship != null)
                    {
                        foreach (var item in Model.ContactsOfRelationship)
                        {
                            <li><a href="#@item.RelationshipTitle" data-toggle="tab"> @item.RelationshipTitle (@item.Count)</a></li>
                        }
                    }
                    <li><a href="#Search" data-toggle="tab">Find Someone <i class="fa fa-search"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="AllContacts">
                        <div class="box-body no-padding">
                            <ul class="users-list clearfix">
                                @if (Model.ContactsList != null)
                                {
                                    foreach (var item in Model.ContactsList)
                                    {
                                        <li>
                                            <img class="big-circle" src="@item.ImageUrl" alt="User Image">
                                            <a class="users-list-name" asp-action="Index" asp-controller="UserProfile" asp-route-cId="@item.Id">@item.FullName</a>
                                            <span class="users-list-date">@item.RelationshipTitle</span>
                                        </li>
                                    }
                                }

                            </ul>
                            <!-- /.users-list -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.tab-pane -->
                    @if (Model.ContactsOfRelationship != null)
                    {
                        foreach (var item in Model.ContactsOfRelationship)
                        {
                            <div class="tab-pane" id="@item.RelationshipTitle">
                                <div class="box-body no-padding">
                                    <ul class="users-list clearfix">
                                        @if (item.ContactsList != null)
                                        {
                                            foreach (var i in item.ContactsList)
                                            {
                                                <li>
                                                    <img class="big-circle" src="@i.ImageUrl" alt="User Image">
                                                    <a class="users-list-name" asp-action="Index" asp-controller="UserProfile" asp-route-cId="@i.Id">@i.FullName</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                    <!-- /.users-list -->
                                </div>
                                <!-- /.box-body -->
                            </div>
                        }
                    }

                    <div class="tab-pane" id="Search">
                        <br />
                        <div class="row">
                            <div class="col-md-3">

                                <div class="box-body">
                                    <div class="form-group">
                                        <div class="input-group margin ">
                                            <p>Type a name</p>
                                        </div>
                                        <div class="input-group margin ">
                                            <input type="text" class="form-control center-block" name="searchString" id="searchString" onchange="return findContacts(event);">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-info btn-flat" id="GetResults" onclick="findContacts(event);">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- /.col -->
                            <div class="col-md-9">
                                <div class="box box-default">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Search Results</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding" id="ResultContainer">

                                        <!-- /.users-list -->
                                    </div>
                                    <!-- /.box-body -->

                                </div>
                                <!--/.box -->
                            </div>
                            <!--/.col -->
                        </div>
                        <!--/.row -->
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {
    <script>
            function findContacts(event) {
                $('div#ResultContainer').empty();
                event.preventDefault();
                var search = $("#searchString").val();
                var dataobj = { searchString: search };
                $.ajax({
                    url: 'FindContact',
                    type: 'Get',
                    dataType: "html",
                    data: dataobj,
                    success: function (response) {
                        console.log("success");
                        $('div#ResultContainer').html(response);
                    },
                    error: function (jqXHR, status, err) {
                        console.log(jqXHR.responseText);
                        $('div#ResultContainer').empty();
                    }
                });
            };
    </script>

}

